* {
margin:0;
padding:0;
border:0;
}

h1,
nav {
    display: inline-block;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 30px;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

header nav {
    margin-left: 80px;
}

header a {
    color: white;
    text-decoration: none;

}

header li {
    display: inline-block;
    margin: 0 10px;
}

main.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 100px;
}

section {
    margin: 40px;
}

.jake-stinks {
    position: relative;
    max-width: 600px;
}

.text-jake-stinks {
    position: absolute;
    top: 0;
    color:white;
    padding: 275px 50px;
}

.record {
    transition: .5s;
    position: relative;
}

.record:hover {
    animation: movement 5s;
}

@keyframes movement {
    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg)
    }
}

